.emoji { font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' }

.tutorial-emoji {
  flex: none;
  /* width: 1.45rem;
  font-size: .85em; */
  /* font-size: 1.15em;
  width: 1.35em; */
  font-size: 1em;
  
}