/* 
 *
 * Translate
 *
 */

@responsive {

  /* Translate X */
  .transX-100 { transform: translateX(100%) }
  .transX-50 { transform: translateX(50%) }
  .transX-0   { transform: translateX(0) }
  .transX--50 { transform: translateX(-50%) }
  .transX--100 { transform: translateX(-100%) }

  /* Translate Y */
  .transY-100 { transform: translateY(100%) }
  .transY-50 { transform: translateY(50%) }
  .transY-0   { transform: translateY(0) }
  .transY--50 { transform: translateY(-50%) }
  .transY--100 { transform: translateY(-100%) }

  /* Translate XY */
  .transXY-0    { transform: translate(0, 0) }
  .transXY-50   { transform: translate(50%, 50%) }
  .transXY-100  { transform: translate(100%, 100%) }
  .transXY--100 { transform: translate(-100%, -100%) }
  .transXY--50  { transform: translate(-50%, -50%) }

}


/*
.transY--50
  transform: translateY(-50%)

.transY--100-l
  @media (--breakpoint-large)
    transform: translateY(-100%)

.transXY-50-and-1px
  transform: translate(50%, -1px)

.transXY--1px-and-50
  transform: translate(-1px, 50%)

.transY-9px
  transform: translateY(9px)

.transY--1px
  transform: translateY(-1px)

.transY--3px
  transform: translateY(-3px)

.transY--11px
  transform: translateY(-11px)

.transX--1px
  transform: translateX(-1px)

.transX--100
  transform: translateX(-100%)

.arrow-position-on-floating-slider
  transform: translate(-4rem, -99%)

.transY--99
  transform: translateY(-99%)

.transY--100
  transform: translateY(-100%)

.transX-50
  transform: translateX(50%)

.transX--50
  transform: translateX(-50%)

.transY--50
  transform: translateY(-50%)
*/