/* 
 * 
 * Grid component classes (only applied if grid is supported)
 *
 * NOTE: reset margins and widths here (not using utilities) so these resets
 * only kick in if the grid layout is supported
 * 
 */

@supports (display: grid) {
  
 /* 
  * 
  * Media
  *
  */

  .directory-grid {
    @media (--md) {
      display: grid;
      grid-template-columns: 1fr auto;

      & ul > li { @apply .pr4 }

      & aside {
        @apply .relative .bl .b--black-05;
        position: sticky;

        & section { @apply .pl4 }
      }
    }
  }

}