/* 
 *
 * Reset Styles 
 *
 * 1. Body
 * 2. Images
 * 3. Links
 * 4. Buttons
 * 5. Lists
 * 6. Forms
 * 7. Tables
 * 8. iOS issues
 *
 */

/* 
 *
 * 1. Body 
 * 
 */

html {
  font-size: 16px;
  
  @media (--sm) { font-size: 16.5px }
  @media (--md) { font-size: 17px }
  @media (--lg) { font-size: 17.5px }
}

body {
  min-height: 100vh;
  overflow-x: hidden;

  /* Font-size */
  /* @media (--sm) { font-size: calc(16.5 / 16 * 1rem) }
  @media (--md) { font-size: calc(17 / 16 * 1rem) }
  @media (--lg) { font-size: calc(17.5 / 16 * 1rem) } */

  /* TODO: use this auto-resizing formula instead? Something strange about how it enlarges some text and reduces other text... */
  /* font-size: minFnt + (maxFnt - minFot) * (100vw - minScrnPx) / (maxScrn - minScrn) */
  /* font-size: calc(16px + (17.5 - 16) * (100vw - 320px) / (800 - 320)); */
    
  /* Font-smoothing */
  /* See: https://css-tricks.com/understanding-web-fonts-getting */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* text-rendering: optimizeLegibility; */
  /* -moz-font-feature-settings: "liga" on; */
}

/* 
 *
 * 2. Images 
 *
 */

img {
  /* Prevent IE10/11 from miscalculating the image’s height: */
  height: auto;

  /* Setting `vertical-align` removes the whitespace that appears under 'img' elements when they are dropped into a page as-is. Safer alternative to using 'display: block': */
  vertical-align: middle;
}

/* If a 'width' and/or 'height'' attribute have been explicitly defined, don't make the image fluid: */
img[width], img[height] { max-width: none }

/*
 *
 * 3. Links
 *
 */

a { text-decoration: none; color: inherit }

/* 
 *
 * 4. Buttons
 *
 */

button {
  color: inherit;
  letter-spacing: inherit;
}

/*
 *
 * 5. Lists
 *
 */

ol, ul { list-style: none; padding-left: 0 }

/* Remove trailing margins from nested lists: */
li > ol, li > ul { margin-bottom: 0 }

/*
 *
 * 6. Forms
 *
 */

input,
textarea {
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  padding: 0;

  /* Fixes vertical alignment issues in iOS (don't add a specific line height to inputs): */
  line-height: normal;
  font-size: inherit;
  /*font-size: 100%;*/
}

/* Solves placeholder's being invisible in some browsers bc of Tailwind's preflight styles */
input::placeholder,
textarea::placeholder { @apply .o-100 .black-60 }

/* Reset Chrome and Firefox behaviour which sets a 'min-width: min-content;' on fieldsets: */
fieldset { min-width: 0; border: 0 }

/* Since clicking a radio button label triggers the input, match the default UX */
input[type='radio'] + label { @apply .cursor-pointer }

/* 

Override Firefox's premature red box-shadow styling for invalid form inputs

- see: https://stackoverflow.com/questions/5939341/firefox-4-is-there-a-way-to-remove-the-red-border-in-a-required-form-input 
- see: https://stackoverflow.com/questions/3809146/firefox-4-required-input-form-red-border-outline

*/
input:-moz-placeholder,
input:focus,
input:invalid { box-shadow: none !important; }

textarea:-moz-placeholder,
textarea:focus,
textarea:invalid { box-shadow: none !important; }

/*
 *
 * 7. Tables
 *
 */

table {
  border-collapse: collapse; /* Remove default table spacing */
  border-spacing: 0;
  width: 100%; /* Ensure tables fill up as much space as possible */
}

/*
 *
 * 8. iOS issues
 *
 */

/* Remove tap highlight on iOS */

input,
textarea,
button,
select,
label,
a,
ul { -webkit-tap-highlight-color: rgba(0,0,0,0) }
